[submodule "Submodules/Heroes.Controller.Hook.ReloadedII"]
	path = Submodules/Heroes.Controller.Hook.ReloadedII
	url = https://github.com/Sewer56/Heroes.Controller.Hook.ReloadedII.git
[submodule "Submodules/Heroes.SDK"]
	path = Submodules/Heroes.SDK
	url = https://github.com/Heroes-Hacking-Central/Heroes.SDK
